.activityPage .headingContainer {
  position: relative;
}

.activityPage .headingContainer .imageSlider img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.activityPage .headingContainer .tittleContainer {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.activityPage .headingContainer .tittleContainer h1 {
    color: white;
}

.textContainer{
    background-color: var(--primary-background-color);
}

