.shoppingMallCardWrapper {
  max-width: 500px;
  width: 100%;
  aspect-ratio: 16 / 7;
  text-decoration: none;
  color: black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.shoppingMallCardWrapper .imageSection {
  width: 40%;
  flex-shrink: 0;
  overflow: hidden;
}
.shoppingMallCardWrapper .imageSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.shoppingMallCardWrapper:hover .imageSection img {
  transform: scale(1.4);
}

.shoppingMallCardWrapper .infoSection {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.shoppingMallCardWrapper .infoSection .tags {
  display: flex;
  flex-flow: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.shoppingMallCardWrapper .infoSection .name .rating {
  display: flex;
  gap: 5px;
  background-color: var(--primary-color);
  height: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--second-secondary-color);
}

.shoppingMallCardWrapper .infoSection .address svg{
    color: var(--primary-color);
}

.shoppingMallCardWrapper .infoSection .address{
    align-self: baseline;
}
